node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

.git
.gitignore

.env
.env.*

Dockerfile
docker-compose.yml

logs
*.log

coverage
dist
build

.vscode
.idea

.DS_Store

pgdata
redis_data
rabbitmq_data
es_data

uploads
tmp
temp
data
backup
backups
dump
dumps
screenshots